# This file is the entry point to configure your own services.
# Files in the packages/ subdirectory configure your dependencies.

# Put parameters here that don't need to change on each machine where the app is deployed
# https://symfony.com/doc/current/best_practices.html#use-parameters-for-application-configuration
parameters:
  app.jwtsecret: "%env(JWT_SECRET)%"
  uploads_directory: "%kernel.project_dir%/assets/uploads/"
  google_application_credentials: "%kernel.project_dir%/config/secrets/semeursdejardins-5a67040c98d2.json"
  kernel.secret: '%env(KERNEL_SECRET)%'
services:
  twig.extension.intl:
    class: Twig\Extra\Intl\IntlExtension
  # App\EventSubscriber\CalendarSubscriber:
  App\EventListener\TwigListener:
    tags:
      - {
          name: kernel.event_listener,
          event: kernel.controller,
          method: onKernelController,
        }
  # default configuration for services in *this* file
  _defaults:
    autowire: true # Automatically injects dependencies in your services.
    autoconfigure: true # Automatically registers your services as commands, event subscribers, etc.

  # makes classes in src/ available to be used as services
  # this creates a service per class whose id is the fully-qualified class name
  App\:
    resource: "../src/"
    exclude:
      - "../src/DependencyInjection/"
      - "../src/Entity/"
      - "../src/Kernel.php"

  # add more service definitions when explicit configuration is needed
  # please note that last definitions always *replace* previous ones
